[defaults]
inventory = inventory
host_key_checking = false
retry_files_enabled = false

display_skipped_hosts = false
deprecation_warnings = false

#force_valid_group_names = ignore

#interpreter_python = auto_legacy_silent
#[ssh_connection]
#scp_if_ssh=True
#timeout = 5
#lookup_plugins = true

#ansible_python_interpreter=/usr/bin/python3
#discovered_interpreter_python = /usr/bin/python