---
###################################
# PARAMETROS GENERALES DE ENTORNO #
###################################

##!!!############################################!!!##
# !!!PRECAUCIÓN!!! NO MODIFICAR ESTOS PARAMETROS !!! #
##!!!############################################!!!##
ansible_connection: network_cli
ansible_network_os: ios
ansible_become: yes
ansible_become_method: enable

##################################
# PARAMETROS QUE SE DEBEN LLENAR #
##################################

nombre_empresa: empresaA
ansible_user: esteban
ansible_password: cisco
# # # empresa-a-backup # # #
gitlab_project_id: 32086553
gitlab_access_token: glpat-zHF8e9sLgXgSy9mgYF8x

######################################
# PARAMETROS DE USUARIOS Y PASSWORDS #
######################################

users:
  - username: user1
    password: password-user1

  - username: user2
    password: password-user2

  - username: user3
    password: password-user3

############################################################################
# PARAMETROS DE TODOS LOS EQUIPOS CON SUS RESPECTIVAS IP'S (CONECCION SSH) #
############################################################################

ips:
  - ips_name: router1
    ips_id: 192.168.122.91
  - ips_name: switch-core1
    ips_id: 192.168.122.92
  - ips_name: switch-core2
    ips_id: 192.168.122.93
  - ips_name: switch-access1
    ips_id: 192.168.122.94
  - ips_name: switch-access2
    ips_id: 192.168.122.95
  - ips_name: switch-access3
    ips_id: 192.168.122.96










# # PARAMETROS DE SERVIDORES NTP
# # En el parámetro "ntp_servers" introducir todas las ip's necesarias
# ntp_servers:
#     - 192.168.2.1
#     - 192.168.2.2
#     - 192.168.2.3

# # DATOS DE SERVIDORES DNS
# # En el parámetro "dns_servers" introducir todas las ip's necesarias
# dns_servers:
#     - 192.168.3.1
#     - 192.168.3.2
